* {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
.header-bar {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.header-bar ul {
  list-style: none;
  display: flex;
  padding-left: 10px;
  text-transform: capitalize;
  position: relative;
  left: 30px;
}
.header-bar ul{
  list-style: none;
  display: flex;
  padding-left: 10px;
  text-transform: capitalize;
  position: relative;
  left: 30px;
}
.header-bar li a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 20px;
}
.header-bar li a:hover {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 20px;
  color: #e83f33;
}
.header-bar li button {
  background-color: #012f6c;
  color: #ffffff;
  font: 700 16px Helvetica, Verdana, Arial, sans-serif;
  border: 1px solid #012f6c;
  border-radius: 33px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;
  position: relative;
  bottom: 15px;
}

.elementor-widget-container-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
  left: auto;
  right: 185px;
  padding-bottom: 10px;
}
.elementor-widget-container-search svg {
  background-color: #818a91;
  font-size: 16px;
  fill: white;
  padding: 10px;
}
.elementor-widget-container-search form {
  background-color: #ededed;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}
.elementor-heading-title {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 45px;
  color: #093e5f;
  text-transform: uppercase;
}
.elementor-image {
  width: 1120px;
  height: 420px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  /* left: 120px; */
}
h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  color: #093e5f;
  box-sizing: border-box;
  width: 1120px;
}

.elementor-section {
  padding: 10px;
}

.elementor-texteditor {
  box-sizing: border-box;
  width: 1120px;
  position: relative;
  /* left: 120px; */
  /* right: 120px; */
  margin-bottom: 20px;
}
.elementor-texteditor p {
  font-size: 20px;
  color: #1c1c1c;
  margin-bottom: 51.4px;
  box-sizing: border-box;
  width: 1120px;
  text-align: justify;
}

.elementor-sub-texteditor {
  width: 1120px;
  position: relative;
  /* left: 120px; */
}
.elementor-sub-texteditor h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  color: #093e5f;
  box-sizing: border-box;
}
.elementor-sub-texteditor p {
  font-size: 20px;
  color: #1c1c1c;
  margin-bottom: 51.4px;
  box-sizing: border-box;
  width: 1120px;
  text-align: justify;
}
.elementor-sub-texteditor h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  color: #093e5f;
  box-sizing: border-box;
}
.elementor-block-texteditor {
  margin-bottom: 20px;
}
.block-quote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  margin: 30px 20px 30px 50px;
  padding: 20px;
}
.block-quote a {
  color: #e83f33;
  font-weight: 600;
}
.block-quote a:hover {
  color: #f78604;
  font-weight: 600;
}
.elementor-link-texteditor {
  font-size: 20px;
  color: #1c1c1c;
  margin-bottom: 51.4px;
  box-sizing: border-box;
  width: 1120px;
  text-align: justify;
}
.elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-widget-container h4 {
  /* margin-bottom: 20px; */
  position: relative;
  /* left: 120px; */
}
.elementor-widget-container strong {
  font-size: 21px;
  color: #290808;
}
.elementor-sub-texteditor a {
  color: #e83f33;
}
.elementor-sub-texteditor a:hover {
  color: #f78604;
}
.elementor-button {
  position: relative;
  /* left: 120px; */
}
.elementor-button button {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #61ce70;
  border: 2px solid #61ce70;
}
.elementor-button svg {
  fill: white;
}
.elementor-button a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.footer {
  width: 1329px;
  height: 400px;
  padding: 10px;
  background-color: #093e5f;
 display: flex; 
}
.footer-list {
  box-sizing: border-box;
  width: 400px;
  height: 432px;
  padding: 10px;
}
.footer-list li {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}

.footer-list li a {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  padding: 0px 0px 0px 50px;
  line-height: 40px;
}
.footer-list p {
  font-size: 20px;
  color: white;
}
.footer-list-icons {
  display: flex;
  color: white;
}
.footer-list-icons i {
  padding: 0px 10px;
}
.footer-block-list {
  box-sizing: border-box;
  width: 595px;
  height: 432px;
  padding: 10px;
}
.footer-block-list h4 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.footer-block-list-button {
  padding: 10px;
}
.footer-block-list-button input {
  border: 1px solid #818a91;
  border-radius: 35px;
  background-color: white;
  color: #373a3c;
  width: 275px;
  padding: 10px;
  margin: 4px;
}
.footer-block-list-button button {
  background-color: #ffd845;
  color: #333375;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 35px;
  width: 200px;
  border: 1px solid #ffd845;
}
.footer-block-list-button button:hover{
  background-color: #07b1f5;
  border: 1px solid #07b1f5;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 35px;
  width: 200px;
}
.footer-block-list-image {
  width:433px ;
  height: 432px;
  box-sizing: border-box;
  padding: 10px;
}
.footer-block-list-image h3{
color: white;
}
.footer-block-list-image1 img{ 
  display: flex;
}